@font-face {
    font-family: "Open Sans";
    src: url(../fonts/opensanslight.woff2), url(../fonts/opensanslight.woff);
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/opensans.woff2), url(../fonts/opensans.woff);
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Gilroy";
    src: url(../fonts/Gilroy-Light.woff2), url(../fonts/Gilroy-Light.woff);
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: "Gilroy";
    src: url(../fonts/Gilroy-Extrabold.woff2), url(../fonts/Gilroy-Extrabold.woff);
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
.list-reset {
    padding: 0;
    margin: 0;
    list-style: none;
}
.body {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
}

:root {
    --basic-black: #000;
    --basic-dark: #363636;
    --basic-white: #fff;
    --special-yellow-dark: #f0c52e;
    --special-yellow: #f7e296;
    --special-green: #91c92f;
    --special-error: #f6dada;
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    white-space: nowrap;
    border: 0;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.button {
    position: relative;
    z-index: 10;
    display: inline-block;
    font-family: "Gilroy", "Times New Roman", serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    vertical-align: top;
    cursor: pointer;
}
.button:before {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 22.2%;
    overflow: hidden;
    content: "";
    background-color: var(--special-yellow-dark);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.button:hover:before {
    height: 100%;
}
.button:active {
    opacity: 0.6;
}
/* header*/

.header-container {
    position: relative;
}
.header-logo {
    position: absolute;
    top: -20px;
    left: 80px;
}
.header-info {
    padding: 0 60px 85px;
    margin-top: 42px;
    background-color: var(--special-yellow);
}
.header-info_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 35px;
}
.header-form {
    position: relative;
    display: flex;
    width: 440px;
    margin-right: 100px;
}
.header-form label:before {
    position: absolute;
    top: 18px;
    left: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
    content: "";
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
}
.header-form_input {
    flex-grow: 1;
    padding: 10px 15px 10px 37px;
    line-height: 20px;
    background-color: transparent;
    border: none;
}
.header-form_button {
    padding: 14px 18px;
    margin: 0;
    color: var(--basic-black);
    visibility: hidden;
    background-color: transparent;
    border: 2px solid #000000;
}
.header-form input:focus {
    outline: none;
    box-shadow: inset 0 -2px 0 var(--basic-black);
}
.header-form input:focus + button {
    visibility: visible;
}
.header-form input::-webkit-input-placeholder {
    color: var(--basic-black);
    opacity: 0.3;
}
.header-form input::-moz-placeholder {
    color: var(--basic-black);
    opacity: 0.3;
}
.header-form input:-ms-input-placeholder {
    color: var(--basic-black);
    opacity: 0.3;
}
.header-form input::-ms-input-placeholder {
    color: var(--basic-black);
    opacity: 0.3;
}
.header-form input::placeholder {
    color: var(--basic-black);
    opacity: 0.3;
}
.header-form:hover input::-webkit-input-placeholder,
.header-form input:focus::-webkit-input-placeholder {
    opacity: 0.6;
}
.header-form:hover input::-moz-placeholder,
.header-form input:focus::-moz-placeholder {
    opacity: 0.6;
}
.header-form:hover input:-ms-input-placeholder,
.header-form input:focus:-ms-input-placeholder {
    opacity: 0.6;
}
.header-form:hover input::-ms-input-placeholder,
.header-form input:focus::-ms-input-placeholder {
    opacity: 0.6;
}
.header-form:hover input::-webkit-input-placeholder,
.header-form input:focus::-webkit-input-placeholder {
    opacity: 0.6;
}
.header-form:hover input::-moz-placeholder,
.header-form input:focus::-moz-placeholder {
    opacity: 0.6;
}
.header-form:hover input:-ms-input-placeholder,
.header-form input:focus:-ms-input-placeholder {
    opacity: 0.6;
}
.header-form:hover input::-ms-input-placeholder,
.header-form input:focus::-ms-input-placeholder {
    opacity: 0.6;
}
.header-form:hover input::-webkit-input-placeholder,
.header-form input:focus::-webkit-input-placeholder {
    opacity: 0.6;
}
.header-form:hover input::-moz-placeholder,
.header-form input:focus::-moz-placeholder {
    opacity: 0.6;
}
.header-form:hover input:-ms-input-placeholder,
.header-form input:focus:-ms-input-placeholder {
    opacity: 0.6;
}
.header-form:hover input::-ms-input-placeholder,
.header-form input:focus::-ms-input-placeholder {
    opacity: 0.6;
}
.header-form:hover input::-webkit-input-placeholder, .header-form input:focus::-webkit-input-placeholder {
    opacity: 0.6;
}
.header-form:hover input::-moz-placeholder, .header-form input:focus::-moz-placeholder {
    opacity: 0.6;
}
.header-form:hover input:-ms-input-placeholder, .header-form input:focus:-ms-input-placeholder {
    opacity: 0.6;
}
.header-form:hover input::-ms-input-placeholder, .header-form input:focus::-ms-input-placeholder {
    opacity: 0.6;
}
.header-form:hover input::placeholder,
.header-form input:focus::placeholder {
    opacity: 0.6;
}
.header-form input::-webkit-input-placeholder {
    color: var(--basic-black);
    opacity: 0.3;
}
.header-form input::-moz-placeholder {
    color: var(--basic-black);
    opacity: 0.3;
}
.header-form input:-ms-input-placeholder {
    color: var(--basic-black);
    opacity: 0.3;
}
.header-form input::-ms-input-placeholder {
    color: var(--basic-black);
    opacity: 0.3;
}
.header-form input::placeholder {
    color: var(--basic-black);
    opacity: 0.3;
}
.header-form button:hover,
.header-form button:focus {
    color: var(--basic-white);
    cursor: pointer;
    visibility: visible;
    background-color: var(--basic-black);
}
.header-form button:active span {
    opacity: 0.3;
}
.user-navigation {
    display: flex;
    align-items: center;
    width: 50%;
    line-height: 0;
}
.user-navigation_item--authorization {
    flex-grow: 1;
}
.compare {
    margin-right: 35px;
}
.basket {
    margin-left: auto;
}
.user-navigation_link {
    position: relative;
    display: block;
    padding: 14px 0 14px 30px;
    color: inherit;
    text-decoration: none;
}
.user-navigation_link:hover {
    opacity: 0.6;
}
.user-navigation_link:focus {
    opacity: 0.3;
}
.user-navigation_link:before {
    position: absolute;
    top: 8px;
    left: 10px;
    width: 14px;
    height: 13px;
    content: "";
    background-image: url(../img/icon_user.svg);
    background-repeat: no-repeat;
}
.compare.user-navigation_link:before {
    top: 8px;
    left: 4px;
    width: 14px;
    height: 14px;
    background-image: url(../img/compare.svg);
}
.basket.user-navigation_link:before {
    top: 9px;
    left: 8px;
    width: 14px;
    height: 13px;
    background-image: url(../img/basket.svg);
    background-repeat: no-repeat;
}
.navigation-list {
    position: relative;
    z-index: 10;
    display: grid;
    grid-template-columns: 541px 158px 223px 1fr;
    padding-bottom: 80px;
}
.navigation-list_link {
    padding: 5px 0;
    font-family: "Gilroy", "Times New Roman", serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.navigation-list_link:hover {
    opacity: 0.6;
}
.navigation-list_link:focus {
    opacity: 0.3;
}
.submenu-wrapper {
    position: absolute;
    top: 10px;
    left: -60px;
    z-index: 5;
    display: none;
    width: 1160px;
    height: 162px;
    padding-top: 16px;
    padding-left: 60px;
    margin-top: 15px;
    background-color: var(--special-yellow);
}
.subcatalog-list {
    margin-top: 10px;
    margin-right: 60px;
}
.subcatalog-list_link {
    color: inherit;
    text-decoration: none;
}
.subcatalog-list .subcatalog_item {
    margin-bottom: 17px;
    white-space: nowrap;
    border: none;
}
.subcatalog_item:hover {
    opacity: 0.6;
}
.subcatalog_item:active {
    opacity: 0.3;
}
.navigation-list_item:hover > .submenu-wrapper {
    display: flex;
}
.navigation-list_button {
    position: absolute;
    top: 0;
    left: 232px;
    width: 22px;
    height: 22px;
    font-size: 0;
    cursor: pointer;
    background-color: transparent;
    background-image: url(../img/icon_plus.svg);
    border: none;
}
.navigation-list_button--active ~ .submenu-wrapper {
    display: flex;
}
/* SLider */

.slider {
    position: relative;
    margin-top: -139px;
}
.slider-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1024px;
    height: 506px;
    margin: 0 auto;
    margin-bottom: 106px;
    font-style: normal;
    color: var(--basic-black);
}
.slide:after {
    position: absolute;
    top: 44px;
    right: 392px;
    width: 100px;
    height: 7px;
    font-family: "Gilroy", "Times New Roman", serif;
    content: "";
    background-color: var(--basic-white);
}
.slide-1:before {
    position: absolute;
    top: -10px;
    right: -20px;
    font-family: "Gilroy", "Times New Roman", serif;
    font-size: 179px;
    font-weight: 800;
    line-height: 219px;
    color: var(--basic-white);
    text-transform: uppercase;
    content: "01";
}
.slide-2:before {
    position: absolute;
    top: -10px;
    right: -20px;
    font-family: "Gilroy", "Times New Roman", serif;
    font-size: 179px;
    font-weight: 800;
    line-height: 219px;
    color: var(--basic-white);
    text-transform: uppercase;
    content: "02";
}
.slide-3:before {
    position: absolute;
    top: -10px;
    right: -20px;
    font-family: "Gilroy", "Times New Roman", serif;
    font-size: 179px;
    font-weight: 800;
    line-height: 219px;
    color: var(--basic-white);
    text-transform: uppercase;
    content: "03";
}
.slide-image {
    width: 512px;
    margin-left: 21px;
}
.slide-image img {
    max-width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}
.slide-content {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    width: 512px;
    margin-top: 85px;
    margin-left: 21px;
}
.slide-content_text {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.title {
    padding: 0;
    margin: 0;
    font-family: "Gilroy", "Times New Roman", serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 58px;
    letter-spacing: 0.2em;
}
.slide-text_slogan {
    margin-bottom: 28px;
    letter-spacing: normal;
}
.slide-text_description {
    padding: 0;
    margin: 0;
    margin-bottom: 52px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
}
.slider-content_button {
    width: 220px;
    padding: 7px 0;
    margin-bottom: 52px;
    text-align: center;
}
.slider-table {
    font-family: "Gilroy", "Times New Roman", serif;
    font-style: normal;
    font-weight: 300;
    color: var(--basic-black);
    letter-spacing: 0.1em;
    border-collapse: separate;
}
.table-value td:not(:last-of-type),
.table-characteristic td:not(:last-of-type) {
    padding-bottom: 13px;
}
.table-value td,
.table-characteristic td {
    padding-bottom: 13px;
}
.table-value {
    height: 30px;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.1em;
}
.table-characteristic {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
}
.slider-controls {
    position: absolute;
    top: 349px;
    right: 88px;
    display: flex;
    justify-content: space-between;
    width: 72px;
}
.slider-controls_button {
    width: 12px;
    height: 12px;
    padding: 0;
    cursor: pointer;
    background-color: var(--basic-white);
    border: 1px solid #000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.slider-controls_button--current {
    background: url(../img/slider-circle.svg) no-repeat center;
}
.slide-1,
.slide-2,
.slide-3 {
    display: none;
}
.slide--current {
    display: flex;
}

/* popular-product */

.popular-product {
    margin-bottom: 65px;
}
.product-list {
    display: flex;
    justify-content: space-between;
}
.product-list_link {
    color: inherit;
    text-decoration: none;
}
.product {
    width: 160px;
}
.product-image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    margin-bottom: 38px;
    background-color: var(--special-yellow);
}
.product-image:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: rgba(255, 255, 255, 0.3);
}
.product:hover .product-image:before {
    background: rgba(255, 255, 255, 0);
}
.product:active .product-image:before {
    background: rgba(0, 0, 0, 0.1);
}
.product:hover .product-image {
    background-color: var(--special-yellow-dark);
}
.product:active .product-title {
    color: var(--basic-dark);
    background: rgba(255, 255, 255, 0.6);
    opacity: 0.3;
}
.product-title {
    font-family: "Gilroy", "Times New Roman", serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0.05em;
}

/* delivery */

.service-container {
    display: flex;
}
.service {
    display: flex;
    flex-direction: column;
    margin-right: 118px;
    border-right: 7px solid #000000;
}
.service-list {
    width: 277px;
    padding-top: 68px;
    padding-bottom: 66px;
}
.service-list li:not(:last-of-type) {
    margin-bottom: 20px;
}
.service-item {
    z-index: 10;
    margin: 10px 0;
}
.service-button {
    z-index: 1;
    width: 160px;
    padding: 10px;
    text-align: center;
    background-color: transparent;
    border: none;
}
.service-button--current {
    position: relative;
    width: 280px;
    padding-left: 15px;
    color: var(--special-yellow);
    text-align: left;
}
.service-button--current:before {
    position: absolute;
    top: 21px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--basic-black);
}
.service-description {
    padding-top: 70px;
}
.service-description_title {
    margin-bottom: 41px;
}
.service-description_text {
    line-height: 30px;
    letter-spacing: 0.1em;
}
.slide-4,
.slide-5,
.slide-6 {
    position: relative;
    display: none;
}
.slide-4:before {
    position: absolute;
    top: -11px;
    right: -270px;
    width: 156px;
    height: 188px;
    content: "";
    background-image: url(../img/delivery.svg);
    background-repeat: no-repeat;
}
.slide-5:before {
    position: absolute;
    top: -11px;
    right: -200px;
    width: 171px;
    height: 195px;
    content: "";
    background-image: url(../img/delivery-2.svg);
    background-repeat: no-repeat;
}
.slide-6:before {
    position: absolute;
    top: -11px;
    right: -200px;
    width: 156px;
    height: 188px;
    content: "";
    background-image: url(../img/delivery-3.svg);
    background-repeat: no-repeat;
}
.delivery-slider_slide--curent {
    display: block;
}
.delivery {
    z-index: -10;
    padding-bottom: 67px;
    margin-bottom: 91px;
    background: linear-gradient(transparent 100px, #e5e5e5 100px);
}
/* logotypes */

.logotypes {
    margin-bottom: 143px;
}
.logotype-list {
    display: flex;
    justify-content: space-between;
}
.logotypes-box {
    position: relative;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.2;
}
.logotypes-box:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    opacity: 1;
}
.logotypes-box img {
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}
.contacts {
    margin-bottom: 76px;
}
.info-container {
    display: flex;
    justify-content: space-between;
}
.info-title {
    margin-bottom: 41px;
}
.info-text {
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    line-height: 28px;
}

/* About us */

.aboutus-list {
    display: flex;
    flex-direction: column;
    padding-top: 19px;
    margin-bottom: 70px;
    margin-left: 20px;
    font-family: "Gilroy";
    font-size: 16px;
    font-weight: 800;
    line-height: 28px;
    list-style: circle;
}
.aboutus-list li {
    padding-left: 12px;
}
.aboutus-list li:not(:last-of-type) {
    margin-bottom: 14px;
}
.info-button {
    width: 260px;
    padding: 10px;
    margin-left: 4px;
    text-align: center;
    background: transparent;
    border: none;
}
.info,
.contacts {
    position: relative;
}
.contacts-map {
    margin-bottom: 72px;
    cursor: pointer;
}
.info:before,
.contacts:before {
    position: absolute;
    top: -56px;
    left: 0;
    width: 80px;
    height: 7px;
    content: "";
    background-color: var(--basic-black);
}

/* footer */
footer {
    height: 324px;
    padding-top: 45px;
    background-color: var(--basic-dark);
}
.footer-row-1 {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 49px;
}
.footer-logo-link {
    position: absolute;
    top: 19px;
    left: 0;
}
.footer-user-navigation {
    justify-content: flex-end;
    color: var(--basic-white);
}
.footer-user-navigation li:not(:last-of-type) {
    margin-right: 30px;
}
.footer-row-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    color: var(--basic-white);
}
.footer-row-2 a {
    width: 250px;
}
.footer-adres {
    color: inherit;
    -moz-text-align-last: left;
    text-align-last: left;
    text-decoration: none;
}
.footer-phone {
    color: inherit;
    text-align: right;
    text-decoration: none;
}
.footer-navigation-list {
    display: flex;
    padding-bottom: 0;
}
.footer-navigation-list li {
    margin: 15px;
}
.footer-info-list li:nth-of-type(1) {
    margin: 0;
}
.footer-info-list li:nth-of-type(3) {
    flex-grow: 0;
}
.user-link-footer.user-navigation_link:before {
    background-image: url(../img/icon_user-footer.svg);
}
.compare-footer.user-navigation_link:before {
    background-image: url(../img/compare-footer.svg);
}
.basket-footer.user-navigation_link:before {
    background-image: url(../img/basket-footer.svg);
}

.footer-row-3 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-row-3:before {
    position: absolute;
    top: 15px;
    left: 0;
    width: 80px;
    height: 7px;
    content: "";
    background-color: var(--special-yellow-dark);
}
.footer-list {
    display: flex;
    margin-right: -20px;
    font-size: 0;
}
.footer-list_link {
    margin: 10px;
    opacity: 0.3;
}
.footer-list_link:hover {
    opacity: 0.6;
}
.footer-list_link:active {
    opacity: 1;
}
.html-link:hover {
    opacity: 0.6;
}
.html-link:active {
    opacity: 0.3;
}

/* write-us */
.popup-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    align-items: center;    
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}
.popup-wrapper--active {
    display: flex;
}
.popup {
    position: relative;
    width: 960px;
    margin: 0 auto;
    background: #f7e296;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.15);
}
.button-close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 55px;
    height: 55px;
    font-size: 0;
    cursor: pointer;
    background: var(--special-yellow-dark);
    border: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    opacity: 0.5;
}
.button-close:before {
    position: absolute;
    top: 14px;
    right: 24px;
    width: 2px;
    height: 25px;
    content: "";
    background-color: var(--basic-white);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.button-close:after {
    position: absolute;
    top: 15px;
    right: 25px;
    width: 2px;
    height: 25px;
    content: "";
    background-color: var(--basic-white);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.button-close:hover {
    opacity: 1;
}
.button-close:active,
.button-close:focus {
    opacity: 0.3;
}
.write-us-form {
    display: grid;
    grid-template-rows: min-content min-content min-content;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 32px;
    grid-column-gap: 40px;
    padding: 90px 100px 40px;
    background-color: var(--basic-white);
}
.write-us-form_button {
    width: 200px;
    padding: 10px 0;
    margin-top: 15px;
    background-color: transparent;
    border: none;
}
.write-us-form label {
    font-family: "Gilroy", "Times New Roman", serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;
}
.write-us-form input,
.write-us-form textarea {
    width: 100%;
    padding: 16px 22px;
    margin-top: 10px;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.4);
    resize: none;
    background-color: #f2f2f2;
    border: 2px solid transparent;
}
.write-us-form input:hover,
.write-us-form textarea:hover {
    background: #eaeaea;
}
.write-us-form input:active,
.write-us-form textarea:active,
.write-us-form input:focus,
.write-us-form textarea:focus {
    background: #ffffff;
    border: 2px solid #f7e296;
    outline: none;
}
.write-us-form textarea {
    height: 167px;
}
.write-us-form_textarea {
    grid-column: 1 / -1;
}
.popup-map {
    width: 960px;
    height: 550px;
    margin: 0 auto;
    background: #f7e296;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.15);
}
.map {
    width: 100%;
    height: 100%;
}
/* -------------CATALOG---------------------- */
.catalog-header-info {
    padding-bottom: 0;
}
.header-info.catalog-header-info {
    height: 186px;
    padding: 0 60px 0;
}
.catalog-container {
    display: grid;
    grid-template-rows: -webkit-min-content -webkit-min-content 1fr -webkit-min-content;
    grid-template-rows: min-content min-content 1fr min-content;
    grid-template-columns: 330px 1fr;
}
.catalog_product-name {
    grid-column: 1 / -1;
    margin: 43px 0 29px 60px;
    font-family: "Gilroy", "Times New Roman", serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 58px;
}
.breadcrumbs-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    margin-left: 50px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
}
.breadcrumbs_link {
    position: relative;
    padding: 10px 10px;
    color: inherit;
    text-decoration: none;
    opacity: 0.3;
}
.breadcrumbs_link:hover {
    opacity: 0.6;
}
.breadcrumbs_link:active {
    opacity: 0.1;
}
.breadcrumbs_item:not(:last-of-type) {
    margin-right: 21px;
}
.breadcrumbs_link[href]:after {
    position: absolute;
    top: 12px;
    right: -14px;
    width: 10px;
    height: 10px;
    content: "";
    background-image: url(../img/arrow-pagination.svg);
    background-repeat: no-repeat;
}
.catalog-content {
    display: grid;
    grid-template-rows: 1fr 1fr min-content;
    grid-template-columns: 1fr 330px 830px 1fr;
}
.decoration-line {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    height: 70px;
    background: #E5E5E5;
}
.margin-left {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    background: linear-gradient(to bottom, #dcdcdc 0 70px, #c4c4c4 70px 100%); 
}
.margin-right {
    grid-row: 1 / -1;
    grid-column: 4 / -1;
}
.catalog_filter {
    grid-row: 2 / -1;
    grid-column: 2 / 3;
    background: linear-gradient(to bottom, #dcdcdc 0 70px, #c4c4c4 70px 100%);
}
.catalog_filter {
    grid-row: 1 / 4;
    grid-column: 2 / 3;
    padding: 23px 63px 0 60px;
}
.catalog_grid {
    grid-row: 1 / 3;
    grid-column: 3 / 4; 
}

.catalog_pagination {
    display: flex;
    grid-row: 3 / -1;
    grid-column: 3 / 4;
    align-items: center;
    justify-content: space-between;
    padding: 20px 29px;
    margin-bottom: 80px;
    margin-left: 70px;
    background-color: #ebebeb;
}

.catalog-form {
    margin-top: 82px;
}

.catalog_filter fieldset {
    padding: 0;
    margin: 0;
    border: none;
    border-top: 2px solid black;
}
.catalog_filter h3 {
    margin: 0;
    font-family: "Gilroy", "Times New Roman", serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.catalog-form_title {
    display: block;
    padding: 0;
    margin: 0;
    margin-bottom: 32px;
    font-family: "Gilroy", "Times New Roman", serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 17px;
    letter-spacing: 0.1em;
}
.slider-range {
    position: relative;
    height: 2px;
    margin-top: 40px;
}
.slider-range_track {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}
.slider-range_range {
    position: absolute;
    top: 0;
    right: 20%;
    bottom: 0;
    left: 5%;
    background-color: var(--special-green);
}
.slider-range_thumb {
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.3);
    border: 8px solid var(--basic-white);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
}
.thumb-left {
    top: 0;
    left: 5%;
    -webkit-transform: translate(-10px, -9px);
    -moz-transform: translate(-10px, -9px);
    -ms-transform: translate(-10px, -9px);
    -o-transform: translate(-10px, -9px);
    transform: translate(-10px, -9px);
}
.thumb-right {
    top: 0;
    right: 20%;
    -webkit-transform: translate(10px, -9px);
    -moz-transform: translate(10px, -9px);
    -ms-transform: translate(10px, -9px);
    -o-transform: translate(10px, -9px);
    transform: translate(10px, -9px);
}
.slider-range_text {
    display: inline-block;
    margin-top: 18px;
    vertical-align: top;
}
.slider-chart {
    display: flex;
    justify-content: space-between;
} 
.cash {
    height: 146px;
}
.catalog-form_legend {
    padding-top: 30px;
    font-size: 0;
}
.catalog-filter-list {
    margin-bottom: 25px;
}
.catalog-filter-item {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
}
.catalog-filter-item:not(:last-of-type) {
    margin-bottom: 20px;
}

.custom-input {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding-left: 42px;
}
.custom-input input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

.custom-input_checkmark {
    position: absolute;
    top: -1px;
    left: 0;
    width: 24px;
    height: 24px;
    border: 2px solid #000000;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
.custom-input_checkmark--radio {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border: 2px solid #000000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.custom-input input:hover ~ .custom-input_checkmark {
    opacity: 0.3;
}
.custom-input input:focus ~ .custom-input_checkmark {
    opacity: 0.3;
}
.custom-input_checkmark:after {
    position: absolute;
    display: none;
    content: "";
}
.custom-input input:checked ~ .custom-input_checkmark:after {
    top: 4px;
    left: 3px;
    display: block;
    width: 21px;
    height: 21px;
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
}
.custom-input input:checked ~ .custom-input_checkmark--radio:after {
    top: 6px;
    left: 6px;
    display: block;
    width: 8px;
    height: 8px;
    background-color: var(--basic-black);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.catalog-filter-list--bluetooth {
    margin-bottom: 48px;
}
.catalog-filter-button {
    display: block;
    padding: 7px 37px;
    background-color: transparent;
    border: none;
}
.catalog-grid-sort {
    display: flex;
    align-items: center;
    padding-top: 23px;
    margin-bottom: 22px;
    margin-left: 70px;
    text-align: center;
}
.catalog-grid-sort h3 {
    margin: 0;
    margin-right: 67px;
    font-family: "Gilroy", "Times New Roman", serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.sort-buttons-list {
    display: inline-flex;
    align-items: center;
}
.sort-buttons-list_item {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
    opacity: 0.3;
}
.sort-buttons-list_item:hover {
    opacity: 0.6;
}
.sort-buttons-list_item:active {
    opacity: 1;
}
.sort-buttons-list_item:not(:last-of-type) {
    margin-right: 18px;
}
.sort-buttons-list_item--active {
    opacity: 1;
}
.sort-buttons-list_button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.catalog-grid-sort_arrows {
    margin-left: auto;
}
.catalog-grid-sort_arrows button {
    width: 18px;
    height: 18px;
    font-size: 0;
    cursor: pointer;
    background-color: transparent;
    background-position: center;
    border: none;
}
.catalog-grid-sort_arrows button:hover {
    opacity: 0.3;
}
.catalog-grid-sort_arrows button:active {
    opacity: 1;
}
.arrow-top {
    margin-right: 10px;
    background-image: url(../img/icon-down-dir.svg);
    opacity: 0.3;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.arrow-bottom {
    background-image: url(../img/icon-down-dir.svg);
    opacity: 0.3;
}
.arrow-bottom--active {
    opacity: 1;
}
.catalog-product {
    display: grid;
    grid-template-columns: -webkit-max-content -webkit-max-content;
    grid-template-columns: max-content max-content;
    grid-gap: 40px;
    justify-content: flex-end;
    padding-top: 70px;
    margin-bottom: 32px;
}
.cart {
    position: relative;
    width: 360px;
    height: 462px;
    cursor: pointer;
}
.cart-popup {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 360px;
    height: 380px;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 0;
}
.cart-popup_buttom {
    padding: 10px 38px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
}
.cart-popup_comparison {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.1em;
    cursor: pointer;
    background: transparent;
    border: none;
}
.cart:hover > .cart-popup {
    visibility: visible;
    opacity: 1;
}
.cart:focus > .cart-popup {
    visibility: visible;
    opacity: 1;
}
.cart-image {
    margin-bottom: 28px;
}
.cart-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7px;
}
.cart-price_name {
    width: 265px;
    margin: 0;
    font-family: "Gilroy", "Times New Roman", serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0.05em;
}
.cart-price_money {
    align-self: flex-start;
    margin-top: 3px;
    font-family: "Gilroy", "Times New Roman", serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.05em;
}
.cart--new {
    position: relative;
}
.cart--new:before {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 62px;
    height: 62px;
    content: "";
    border: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
}
.cart--new:after {
    position: absolute;
    top: 43px;
    right: 36px;
    display: flex;
    align-items: center;
    font-family: "Gilroy", "Times New Roman", serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    content: "new";
}

.catalog-pagination_item:first-of-type {
    flex-grow: 1;
}
.catalog-pagination_item:last-of-type {
    flex-grow: 1;
    text-align: right;
    opacity: 1;
}
.catalog-pagination_item:not(:last-of-type) {
    margin-right: 25px;
    opacity: 1;
}
.catalog-pagination_button {
    padding: 5px 0;
    font-family: "Gilroy", "Times New Roman", serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.catalog-pagination_button--active {
    opacity: 1;
}
.catalog-pagination_item:nth-of-type(3),
.catalog-pagination_item:nth-of-type(4) {
    opacity: 0.3;
}
